@using Syncfusion.Blazor.Schedule
@using Syncfusion.Blazor.Navigations
@using Syncfusion.Blazor.Buttons
@using Syncfusion.Blazor.Calendars
@using Syncfusion.Blazor.Inputs
@using Syncfusion.Blazor.DropDowns
@using System.Globalization
@using HotelBooking.Data
@using System;
@using Syncfusion.Blazor.Data;
@using Microsoft.AspNetCore.Components;
@using Syncfusion.Blazor;
@using Syncfusion.Blazor.TreeMap;

<div class="header-container">
    @{
        if (!Service.mobile)
        {
            <div class="search-container">
                <SfTextBox Placeholder='Search Room' CssClass="app-search" Width="200px" ShowClearButton="true" @bind-Value="@Service.SearchValue" Input="@((Syncfusion.Blazor.Inputs.InputEventArgs  args) => ValueChangedHandler(args))"></SfTextBox>
            </div>
        }
    }
    <div class="navigation-container">
        <div class="e-btn-group e-outline">
            <SfButton IconCss="e-icons e-chevron-left" OnClick=OnMonthChangePrev></SfButton>
            <SfButton Content=@Service.CurrentDate.ToString("MMMM yyyy") ReadOnly="true"></SfButton>
            <SfButton IconCss="e-icons e-chevron-right" OnClick=OnMonthChangeNext></SfButton>
        </div>
    </div>
    <div class="button-container">
        <SfButton class="filter-button" OnClick="OpenSidebar">
            <img src="images/filter.svg" alt="filter" />
        </SfButton>
        <SfButton class="new-button" OnClick="HandleEditor">
            <img src="images/plus.svg" alt="filter" />
            @{
                if (!Service.mobile)
                {
                    <div>New Booking</div>
                }
            }
        </SfButton>
    </div>
</div>

@code {
    [Inject]
    public AppointmentService Service { get; set; }

    internal void StateChanged()
    {
        StateHasChanged();
    }

    protected override void OnInitialized()
    {
        base.OnInitialized();
        Service.HeaderPageRef = this;
    }

    public void OnMonthChangeNext()
    {
        Service.CurrentDate = Service.CurrentDate.AddMonths(1);
        Service.SchedulerPageRef?.StateChanged();
        Service.CalendarPageRef?.StateChanged();
    }
    public void OnMonthChangePrev()
    {
        Service.CurrentDate = Service.CurrentDate.AddMonths(-1);
        Service.SchedulerPageRef?.StateChanged();
        Service.CalendarPageRef?.StateChanged();
    }


    public void HandleEditor()
    {
        DateTime Date = Service.ScheduleRef.SelectedDate;
        AppointmentData eventData = new AppointmentData
            {
                Id = 1,
                Subject = "Add Event",
                StartTime = Service.DateTimePickerStartTime,
                EndTime = Service.DateTimePickerEndTime,
                FloorId = 1,
                RoomId = Service.ddlValue,
                Price = Service.price.ToString(),
                Nights = Service.NoOfNights,
                Adults = 2,
                Children = 1,
                Purpose = "Vacation",
                Proof = 1,
                ProofNumber = "123ASD",
                Email = "abc@gmail.com",
                Phone = "1234567891"
            };
        Service.ScheduleRef.OpenEditorAsync(eventData, CurrentAction.Add);
    }

    public void OpenSidebar()
    {
        if (Service.sidebarRef.IsOpen)
        {
            Service.sidebarRef.IsOpen = false;
        }
        else
        {
            Service.sidebarRef.IsOpen = true;
            Service.isOverlay = true;
        }
        Service.SidebarPageRef.StateChanged();
    }


    private void ValueChangedHandler(Syncfusion.Blazor.Inputs.InputEventArgs args)
    {
        if (!string.IsNullOrEmpty(args.Value) && Service.ScheduleRef != null)
        {
            dynamic predicate = null;

            predicate = new Query().Search(args.Value, new List<string> { "RoomText" }, null, true, true);
            Service.query = predicate;
            Service.SchedulerPageRef?.StateChanged();

        }
        else
        {
            Service.query = null;
        }
    }
}
