@page "/"
@using Syncfusion.Blazor.Schedule
@using Syncfusion.Blazor.Navigations
@using Syncfusion.Blazor.Buttons
@using Syncfusion.Blazor.Calendars
@using Syncfusion.Blazor.Inputs
@using Syncfusion.Blazor.DropDowns
@using Syncfusion.Blazor.Layouts
@using Syncfusion.Blazor
@using System.Globalization
@using HotelBooking.Data
@using System;
@inject IJSRuntime JSRuntime;

<SfMediaQuery @bind-ActiveBreakPoint="@activeBreakpoint"></SfMediaQuery>
@{
    if (activeBreakpoint == "Small")
    {
        Service.mobile = true;

    }
    else
    {
        Service.mobile = false;
    }
    if ((Service.HeaderPageRef != null) && (Service.SchedulerPageRef != null))
    {
        Service.HeaderPageRef.StateChanged();
        Service.SchedulerPageRef.StateChanged();
    }
    
}

<div class="sb-content-overlay @(Service.hide)">
    <div class="sb-loading">
        <svg class="circular" height="40" width="40">
            <circle class="path" cx="25" cy="25" r="20" fill="none" stroke-width="6" stroke-miterlimit="10" />
        </svg>
    </div>
    <div class="sb-caption">
        <h4 class="my-4">Bookings initializing...</h4>
    </div>
</div>
<div class="app-main-container" style="visibility:@(Service.visible); opacity:@(Service.opacity)">
    <SfAppBar cssClass="app-header">
        <img class="app-header-logo" src="images/bookmyrooms.png" alt="logo" />
        <AppBarSpacer></AppBarSpacer>
         <div class="avatar-container">
        <img class="avatar-image" src="images/user.svg" alt="avatar" />
            <span class="avatar-name">Hi, John David</span>
        </div>
    </SfAppBar>
    <main class="main-container"> 
        <div class="sidebar-container">
            <Sidebar></Sidebar>
        </div>
         <div class="content-container"> 
             <Header></Header>
            <Schedule></Schedule>
        </div>
    </main>
 </div>

@code {
    private string activeBreakpoint { get; set; }
}